[submodule "grafana"]
	path = grafana
	url = git@gitserver.office.traffics-switch.de:traffics/grafana.git
[submodule "fluentd"]
	path = fluentd
	url = git@gitserver.office.traffics-switch.de:traffics/fluentd.git
[submodule "prometheus"]
	path = prometheus
	url = git@gitserver.office.traffics-switch.de:traffics/prometheus.git
[submodule "elasticsearch"]
	path = elasticsearch
	url = git@gitserver.office.traffics-switch.de:traffics/elasticsearch.git
[submodule "fluentd-app-nodejs-forwarder"]
	path = fluentd-app-nodejs-forwarder
	url = git@gitserver.office.traffics-switch.de:traffics/fluentd-app-nodejs-forwarder.git
[submodule "fluentd-nginx-forwarder"]
	path = fluentd-nginx-forwarder
	url = git@gitserver.office.traffics-switch.de:traffics/fluentd-nginx-forwarder.git
